<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Symfony!</title>
</head>
<body>
<h1>{{ page_title }}</h1>

{% if isLoggedIn %}
  Hello {{ user.name|upper }}!
  with email: {{ user.email|lower }}!
  <a href="{{ path('welcome') }}">Перейти</a>
  <img src="{{ asset('1.jpg') }}">
{% endif %}

{# ... #}
</body>
</html>